
<div class="cabecera" >
  <div class="row">
    <div class="col-md-4">
      <img src="http://pizzeriaagusto.com/wp-content/uploads/2015/11/back-01-pizzeria-agusto.jpg" alt="" id="logo">
    </div>
    <div class="col-md-6" id="pizzeria">PIZZERIA</div>
    <div class="col-md-2"></div>
  </div>
</div>
