<br><br>
<h1>Pizzas</h1>
<div id="contenedor" class="row">

  <% for(var i = 0; i < pizzas.length; i++) { %>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" id="ImgenPizza"
         src="http://libroderecetas.com/files/recetas/la-historia-de-la-pizza-hawaiana.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%= pizzas[i].nombrePizza %></h4>
      <p class="card-text"> <%= pizzas[i].ingredientes %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Servicio a domicilio</li>
      <li class="list-group-item">Ingredientes unicos</li>

    </ul>
    <div class="card-block">

      <a href="/ingredientes">
        <button type="button"  class="btn btn-primary">Ingredientes</button>
      </a>

    </div>
  </div>

  <% } %>

</div>
<br>
<br>
<br>
<br>


