<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Estas Logeado!</h1>
    <img src="https://progesin.net/usuarios-ws/images/1370146_orig.png" alt="">
  </div>
  <div class="col-md-4"></div>

</div>
